name: Integration Tests

on:
  pull_request:
    branches:
      - main

jobs:
  build:
    name: Build
    runs-on: macos-12
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Cache SwiftPM packages
        uses: actions/cache@v3
        with:
          path: .build/checkouts
          key: ${{ runner.os }}-spm-${{ hashFiles('Package.resolved') }}
          restore-keys: |
            ${{ runner.os }}-spm-${{ hashFiles('Package.resolved') }}
            ${{ runner.os }}-spm-
      - name: Inject version
        run: ./Scripts/version
      - name: Build
        run: make build
      - name: Upload binary
        uses: actions/upload-artifact@v2
        with:
          name: ipatool
          path: .build/apple/Products/Release/ipatool
          if-no-files-found: error
  test:
    name: Test
    runs-on: ${{ matrix.macos }}
    needs: [build]
    strategy:
      fail-fast: false
      matrix:
        macos: [macos-10.15, macos-11, macos-12]
        command: [auth, download, purchase, search]
    steps:
      - name: Download binary
        uses: actions/download-artifact@v2
        with:
          name: ipatool
          path: ipatool-current
      - name: Update permissions
        run: chmod +x ./ipatool-current/ipatool
      - name: Run tests
        run: ./ipatool-current/ipatool ${{ matrix.command }} --help
