name: Issues Cleanup

on:
  issue_comment:
    types: [created]
  schedule:
    - cron: "0 */6 * * *" # every 6 hours

jobs:
  scan-issues:
    runs-on: ubuntu-latest
    steps:
      - uses: lee-dohm/no-response@v0.5.0
        with:
          token: ${{ github.token }}
          daysUntilClose: 7
          closeComment: This issue has been automatically closed because there has been no response from the original author.
          responseRequiredLabel: auto-close
