name: Unit Tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  run_tests:
    name: Run tests
    runs-on: macos-12
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v3
        with:
          go-version: '1.19.3'
          cache: true
      - run: ./tools/version.sh
      - run: go test -v github.com/majd/ipatool/...
